*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custom properties, update here for personal design */
:root {
  --ff-header: 'Pattaya', sans-serif;
  --ff-primary: 'Lora', serif;
  /* add more font variables */
  --ff-secondary: 'Lora', serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --clr-light: #ffe8a3;
  --clr-dark: #55706d;
  --clr-accent: #aed6d1;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

header {
    align-items: center;
    display: flex;
    font-size: 18px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 100px;
  }
  
  header:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
                url(../img/header-img.jpg) no-repeat bottom;
    background-size: cover;
    content: "";
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: -1;
  }
  
  header:after {
    background: #F9FCFF;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
      right: -5%;
      top: 90%;
    transform-origin: 0 0;
    transform: rotateZ(-4deg);
    z-index: 0;
  }
  
  .header-title, .header-subtitle {
    color: #fff;
  }
  
  .header-subtitle {
    text-transform: uppercase;
    margin-bottom: 5rem;
  }
  
  .header-button {
    transform: translateZ(.1px);
    position: relative;
    z-index: 10;
  }
  
  .animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
  }
  
  .rocky-dashed {
    animation-delay: .6s;
  }
  
  .header-title {
    animation-delay: .8s;
  }
  
  .header-subtitle {
    animation-delay: 1s;
  }
  
  .header-button {
    animation-delay: 1.1s;
  }
  .header-button {
    border: 5px solid transparent;
    background: #aed6d1;
    color: #55706d;
    border-radius: 40px;
    padding: 15px 30px;
    overflow: hidden;
    width: 200px;
    transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
    white-space: nowrap;
    text-indent: 23px;
    font-weight: bold;
  }
  .header-button span {
      display: inline-block;
      transform: translateX(300px);
      font-weight: normal;
      opacity: 0;
      transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  }
  .header-button:hover {
      text-indent: 0;
      background: #55706d;
      color: #ffe8a3;
      width: 250px;
      border: 10px solid #8dccc4;
      box-shadow: 3px 3px 2px rgba(black, 0.15);
  }
      .header-button:hover span {
        transform: translateX(0);
        opacity: 1;
    }

    section {
      padding: 5em 2em;
    }
    
    img {
      display: block;
      max-width: 100%;
    }
    
    strong {
      font-weight: var(--fw-bold);
    }
    
    :focus {
      outline: 3px solid var(--clr-accent);
      outline-offset: 3px;
    }
    /* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}
  /* Typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
  font-weight: var(--fw-bold);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
.section__title--work{

}
.section__subtitle--work{
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}  
/* My Services Section */
.my-services {
  /* Add the color just in case the image does not load */
  background-color: var(--clr-dark);
  background-image: url(../img/services-bg.png);
  background-size: cover;
  /* reduces bg brightness */
  /* background-blend-mode: multiply  */
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

/* Code for the linebreak */
.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  /* background: currentColor); */
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service+.service {
    margin-left: 2em;
  }
}

/* About Me Section */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}
.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width:600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
  }

  .section__title--about{
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    /* text can never go into the image */
    padding-right: calc(200px + 2em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align:center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link{
  padding: .5em;
}

  
  
  /* Animations */
  
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  